@font-face {
    font-family: 'Roboto';
    src: url(/assets/font/Roboto-Regular.eot) format(eot);
    src: url(/assets/font/Roboto-Regular.otf) format(otf);
    src: url(/assets/font/Roboto-Regular.ttf) format(ttf);
    src: url(/assets/font/Roboto-Regular.woff) format(woff);
    src: url(/assets/font/Roboto-Regular.woff2) format(woff2);
}

@font-face {
    font-family: "logo";
    src: url(/assets/font/jd_code.ttf) format(ttf);
}

/* Il sito è impostato per layout smartphone da 350px a 490px di larghezza */

* {
    box-sizing: border-box;
    font-family: "Roboto";
    color: #007fff;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/assets/images/background.png);
}



/* Styling Header */

.header {
    background-color: #d6f2ff;
    position: fixed;
    width: 100%;
    z-index: 1;

    border-bottom: 2px solid #007fff;
}

.header a {
    text-decoration: none;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.header ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.header ul a:hover {
    background-color: #007fff;
    color: white;
}

.header ul a:active {
    background-color: lightblue;
    color: white;
}

.header ul a:focus {
    outline: none;
}

.header .logo {
    float: left;
    padding: 5px 0px 0px 5px;
}

.header .logo img {
    width: 80px;
    height: auto;
}

.header .logo:focus {
    outline: none;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    padding: 13px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon {
    background-color: #007fff;
    display: block;
    width: 18px;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
}

.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after {
    background-color: #007fff;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transition: all .2s ease-out;
    position: absolute;
}

.header .menu-icon .nav-icon::before {
    top: 5px;
}

.header .menu-icon .nav-icon::after {
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
} 

.header .menu-btn:checked~.menu-icon .nav-icon {
    background-color: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
}

/* Styling Home section */

#home {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 40px;
}

.img-container {
    padding: 0;
    border: 3px solid #007fff;
    border-radius: 50%;
    background-color: #d6f2ff;
}

.img-container img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: auto;
    border-radius: 50%;
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.presentation h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    
    font-size: 15px;
}

.presentation h2 img {
    padding: 5px;
    width: 30px;
    height: 30px;
}

.presentation h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 10px;
}



/* Styling Biography section */

#bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 10px;
}

#bio h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 5px;
    font-size: 15px
}

#bio h2 img {
    padding: 5px;
    width: 30px;
    height: 30px;
}

#bio p {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    font-size: 10px;
    text-align: center;

    max-width:250px;

    background-color: white;
    border: 5px solid lightblue;
    border-radius: 30px;
}



/* Styling Portfolio section */

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 10px;
}

#portfolio h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    padding: 5px;
}

#portfolio h2 img {
    padding: 5px;
    width: 30px;
    height: 30px;
}

.first-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    height: 180px;
    width: 150px;
    padding: 10px;

    background-color: #d6f2ff;
    border: 5px solid lightblue;
    border-radius: 30px;
}

.first-project img {
    width: 130px;
    height: auto;

    border: 2px solid #007fff;
    border-radius: 10px;
}

.first-project img:hover {
    box-shadow: 0px 0px 10px 3px #007FFF;
}

.first-project a {
    text-decoration: none;

    border-radius: 20px;
}

.first-project a:focus {
    outline: none;
}

.first-project button {
    margin-top: 8px;
    width: 70px;
    height: 20px;

    font-size: 8px;

    border: 2px solid lightblue;
    border-radius: 50px;

    cursor: pointer;
}

.first-project button:hover {
    background-color: #007fff;
    color: white;
    border-color: #007fff;
}

.first-project button:active {
    background-color: lightblue;
    color: white;
    border-color: lightblue;
}

.first-project button:focus {
    outline: none;
}


/* Styling Skills section */

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 10px;
}

#skills h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
}

#skills h2 img {
    padding: 5px;
    width: 30px;
    height: 30px;
}

.grid {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;
    gap: 5px;

    padding: 10px;

    background-color: white;
    border: 5px solid lightblue;
    border-radius: 30px;
}

.grid a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.box1, 
.box2,
.box3,
.box4,
.box5,
.box6 {
    display: flex;
    align-items: center;

    margin: 5px;
}

.box1 img,
.box2 img, 
.box3 img,
.box4 img,
.box5 img,
.box6 img {
    display: flex;
    justify-content: center;
    padding: 5px;

    width: 45px;
    height: auto;
}

.grid h3 {
    font-size: 10px;
    padding: 5px;
}

.box1:hover, 
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover,
.box6:hover {
    background-color: lightblue;
    border-radius: 20px;  
}

.box1 a:focus,
.box2 a:focus,
.box3 a:focus,
.box4 a:focus,
.box5 a:focus,
.box6 a:focus {
    outline: none;
}


/* Styling Contact Section */

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 10px;
}

#contact h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
}

#contact h2 img{
    padding: 5px;
    width: 30px;
    height: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    margin: auto;

    background-color: white;
    border: 5px solid lightblue;
    border-radius: 30px;
}

form button,
input,
textarea {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: inherit;
    font-size: 8px;
}

textarea {
    overflow: auto;

    width: 150px;
    height: auto;
}

input[type="text"],
input[type="email"] {
    width: 150px;
    height: 20px;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
    border-color: #007fff;
}

input[type="text"]:hover::placeholder,
input[type="email"]:hover::placeholder,
textarea:hover::placeholder {
    color: lightblue;
}

input[type="text"]:active,
input[type="email"]:active,
textarea:active {
    border-color: #007fff;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid lightblue;
}

input[type="text"],
input[type="email"],
textarea,
form button {
    margin: 2px;
    padding: 5px;
    border: 1px solid lightblue;
}

input[type="text"],
input[type="email"],
textarea {
    border-radius: 10px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    color: #007fff;
}

form button {
    padding: 5px;
    width: 60px;
    height: 20px;

    border-radius: 50px;
}

form button:hover {
    background-color: #007fff;
    border-color: #007fff;
    color: white;
    cursor: pointer;
}

form button:active {
    background-color: lightblue;
    border-color: lightblue;
    color: white;
}

form button:focus {
    outline: none;
}



/* Styling Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: 10px;
}

footer img {
    margin: 2px;
    width: 20px;
    height: auto;
}

footer .logo {
    width: 15px;
}

footer a:focus {
    outline: none;
}



/* Media Query 0px -> 350px */

@media screen and (max-width: 350px) {
    
    .img-container img {
        width: 50px;
    }

    .presentation h2 {
        font-size: 12px;
    }

    .presentation h3 {
        font-size: 8px;
    }
}



/* Media Query 490px -> 600px */

@media screen and (min-width: 490px) and (max-width: 600px) {

    /* General media queries */

    #home,
    #bio,
    #portfolio,
    #skills,
    #contact,
    footer {
        padding-top: 20px;
        padding-bottom: 20px;

    }
    
    #bio p,
    .first-project,
    .grid,
    form {
        border: 6px solid lightblue;
        border-radius: 30px;
    }

    /* Header media queries */

    .header {
        border-bottom: 3px solid #007fff;
    }

    .header .logo {
        padding: 10px 0px 5px 10px;
    }

    .header .logo img {
        width: 120px;
        height: auto;
    }

    .header .menu-icon {
        padding: 24px;
    }

    #home {
        padding-top: 70px;
    }

    

    /* Home media queries */

    .img-container {
        border: 5px solid #007fff
    }

    .img-container img {
        width: 120px;
    }

    .presentation h2 {
        font-size: 20px;
    }

    .presentation h3 {
        font-size: 13px;
    }

    /* Section Heading media queries */

    #bio h2,
    #portfolio h2,
    #skills h2,
    #contact h2 {
        font-size: 20px;
        padding: 10px;
    }

    .presentation h2 img,
    #bio h2 img,
    #portfolio h2 img,
    #skills h2 img,
    #contact h2 img {
        width: 50px;
        height: 50px;
        padding: 10px;
    }

    /* Bio media queries */

    #bio p {
        font-size: 13px;
        padding: 20px;

        max-width: 300px;
    }

    /* Portfolio media queries */

    .first-project {
        width: 200px;
        height: 230px;
    }

    .first-project img {
        width: 160px;
        height: auto;

        border: 3px solid #007fff;
    }

    .first-project button {
        width: 90px;
        height: 30px;

        font-size: 12px;
    }

    /* Skills media queries */

    .grid {
        grid-auto-rows: 60px;
    }

    .box1 img,
    .box2 img, 
    .box3 img,
    .box4 img,
    .box5 img,
    .box6 img {

        padding: 10px;
        width: 60px;
    }

    .grid h3 {
        font-size: 13px;
        padding: 10px;
    }

    /* Contact media queries */

    textarea {
        width: 200px;
    }

    input[type="text"],
    input[type="email"] {
        width: 200px;
        height: 30px;
    }

    textarea,
    input[type="text"],
    input[type="email"] {
        font-size: 13px;

        padding: 10px;
    }

    form button {
        width: 80px;
        height: 30px;

        font-size: 11px;
    }

    textarea,
    input[type="text"],
    input[type="email"],
    form button {
        border-radius: 20px;
        border: 2px solid lightblue;
    }

    /* Footer media queries */

    footer img {
        margin: 4px;
        width: 30px;
        height: auto;
    }

    footer .logo {
        width: 24px;
    }
}

/* Media Query 601px -> 768px */

@media screen and (min-width: 601px) and (max-width: 768px) {

    /* General media queries */

    #home,
    #bio,
    #portfolio,
    #skills,
    #contact,
    footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #bio p,
    .first-project,
    .grid,
    form {
        border: 7px solid lightblue;
        border-radius: 40px;
    }

    /* Header media queries */

    .header {
        border-bottom: 3px solid #007fff;
    }

    .header .logo {
        padding: 15px 0px 10px 15px;
    }

    .header .logo img {
        width: 150px;
        height: auto;
    }

    .header .menu-icon {
        padding: 30px;
    }

    .header .menu-icon .nav-icon {
        width: 25px;
        height: 3px;
    }

    .header .menu-icon .nav-icon::before {
        top: -7px;
    }

    .header .menu-icon .nav-icon::after {
        top: 7px;
    }

    #home {
        padding-top: 100px;
    }


    /* Home media queries */

    .img-container {
        border: 6px solid #007fff
    }

    .img-container img {
        width: 140px;
    }

    .presentation {
        padding: 15px;
    }

    .presentation h2 {
        font-size: 25px;
    }

    .presentation h3 {
        font-size: 18px;
    }

    /* Section Heading media queries */

    #bio h2,
    #portfolio h2,
    #skills h2,
    #contact h2 {
        font-size: 25px;
        padding: 15px;
    }

    .presentation h2 img,
    #bio h2 img,
    #portfolio h2 img,
    #skills h2 img,
    #contact h2 img {
        width: 60px;
        height: 60px;
        padding: 12px;
    }

    /* Bio media queries */

    #bio p {
        font-size: 18px;
        padding: 20px;

        max-width: 350px;
    }

    /* Portfolio media queries */

    .first-project {
        width: 270px;
        height: 320px;
    }

    .first-project img {
        width: 220px;
        height: auto;

        border: 4px solid #007fff;
    }

    .first-project button {
        width: 120px;
        height: 40px;

        font-size: 14px;

        margin-top: 15px;
    }

    /* Skills media queries */

    .grid {
        grid-auto-rows: 80px;
    }

    .box1 img,
    .box2 img, 
    .box3 img,
    .box4 img,
    .box5 img,
    .box6 img {

        padding: 10px;
        width: 80px;
    }

    .grid h3 {
        font-size: 18px;
        padding: 10px;
    }

    /* Contact media queries */

    form {
        padding: 15px;
    }

    textarea {
        width: 250px;
    }

    input[type="text"],
    input[type="email"] {
        width: 250px;
        height: 35px;
    }

    textarea,
    input[type="text"],
    input[type="email"] {
        font-size: 16px;

        padding: 12px;
        margin: 3px;
    }

    form button {
        width: 90px;
        height: 35px;

        font-size: 13px;
    }

    textarea,
    input[type="text"],
    input[type="email"],
    form button {
        border-radius: 20px;
        border: 2px solid lightblue;
    }

    /* Footer media queries */

    footer img {
        margin: 4px;
        width: 40px;
        height: auto;
    }

    footer .logo {
        width: 31px;
    }
}

/* Media Query 769px -> 1024px */

@media screen and (min-width: 769px) and (max-width: 1024px) {

        /* General media queries */

    #home,
    #bio,
    #portfolio,
    #skills,
    #contact,
    footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #bio p,
    .first-project,
    .grid,
    form {
        border: 8px solid lightblue;
        border-radius: 40px;
    }

    /* Home media queries */

    .img-container {
        border: 7px solid #007fff
    }

    .img-container img {
        width: 160px;
    }

    .presentation {
        padding: 20px;
    }

    .presentation h2 {
        font-size: 30px;
    }

    .presentation h3 {
        font-size: 20px;
    }

    /* Section Heading media queries */

    #bio h2,
    #portfolio h2,
    #skills h2,
    #contact h2 {
        font-size: 30px;
        padding: 20px;
    }

    .presentation h2 img,
    #bio h2 img,
    #portfolio h2 img,
    #skills h2 img,
    #contact h2 img {
        width: 70px;
        height: 70px;
        padding: 13px;
    }

    /* Bio media queries */

    #bio p {
        font-size: 20px;
        padding: 25px;

        max-width: 450px;
    }

    /* Portfolio media queries */

    .first-project {
        width: 320px;
        height: 370px;
    }

    .first-project img {
        width: 270px;
        height: auto;

        border: 4px solid #007fff;
    }

    .first-project button {
        width: 150px;
        height: 40px;

        font-size: 15px;

        margin-top: 20px;
    }

    /* Skills media queries */

    .grid {
        grid-auto-rows: 110px;
    }

    .box1 img,
    .box2 img, 
    .box3 img,
    .box4 img,
    .box5 img,
    .box6 img {

        padding: 10px;
        width: 90px;
    }

    .grid h3 {
        font-size: 20px;
        padding: 10px;
    }

    /* Contact media queries */

    form {
        padding: 20px;
    }

    textarea {
        width: 300px;
    }

    input[type="text"],
    input[type="email"] {
        width: 300px;
        height: 40px;
    }

    textarea,
    input[type="text"],
    input[type="email"] {
        font-size: 18px;

        padding: 13px;
        margin: 5px;
    }

    form button {
        width: 100px;
        height: 40px;

        font-size: 14px;
    }

    textarea,
    input[type="text"],
    input[type="email"],
    form button {
        border-radius: 20px;
        border: 2px solid lightblue;
    }

    /* Footer media queries */

    footer img {
        margin: 5px;
        width: 45px;
        height: auto;
    }

    footer .logo {
        width: 34px;
    }
    
}

/* Media Query 1025px -> 1200px */

@media screen and (min-width: 1025px) and (max-width: 1200px) {

    /* General media queries */

    #home,
    #bio,
    #portfolio,
    #skills,
    #contact,
    footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #bio p,
    .first-project,
    .grid,
    form {
        border: 10px solid lightblue;
        border-radius: 50px;
    }

    /* Home media queries */

    .img-container {
        border: 8px solid #007fff
    }

    .img-container img {
        width: 200px;
    }

    .presentation {
        padding: 30px;
    }

    .presentation h2 {
        font-size: 40px;
    }

    .presentation h3 {
        font-size: 25px;
    }

    /* Section Heading media queries */

    #bio h2,
    #portfolio h2,
    #skills h2,
    #contact h2 {
        font-size: 40px;
        padding: 25px;
    }

    .presentation h2 img,
    #bio h2 img,
    #portfolio h2 img,
    #skills h2 img,
    #contact h2 img {
        width: 80px;
        height: 80px;
        padding: 15px;
    }

    /* Bio media queries */

    #bio p {
        font-size: 20px;
        padding: 25px;

        max-width: 500px;
    }

    /* Portfolio media queries */

    .first-project {
        width: 370px;
        height: 420px;
    }

    .first-project img {
        width: 300px;
        height: auto;

        border: 5px solid #007fff;
        border-radius: 20px;
    }

    .first-project button {
        width: 160px;
        height: 45px;

        font-size: 16px;

        margin-top: 20px;
    }

    /* Skills media queries */

    .grid {
        grid-auto-rows: 110px;
        gap: 15px;
    }

    .box1, 
    .box2,
    .box3,
    .box4,
    .box5,
    .box6 {
        margin: 10px;
    }

    .box1 img,
    .box2 img, 
    .box3 img,
    .box4 img,
    .box5 img,
    .box6 img {

        padding: 15px;
        width: 110px;
    }

    .grid h3 {
        font-size: 25px;
        padding: 15px;
    }

    /* Contact media queries */

    form {
        padding: 30px;
    }

    textarea {
        width: 350px;
    }

    input[type="text"],
    input[type="email"] {
        width: 350px;
        height: 50px;
    }

    textarea,
    input[type="text"],
    input[type="email"] {
        font-size: 23px;

        padding: 15px;
        margin: 8px;
    }

    form button {
        width: 130px;
        height: 50px;

        font-size: 18px;
    }

    input[type="text"],
    input[type="email"],
    form button {
        border-radius: 50px;
        border: 2px solid lightblue;
    }

    textarea {
        border-radius: 20px;
        border: 2px solid lightblue;
    }

    /* Footer media queries */

    footer img {
        margin: 6px;
        width: 55px;
        height: auto;
    }

    footer .logo {
        width: 42px;
    }
    
}

/* Media Query 1201px + */

@media screen and (min-width: 1201px) {

    /* General media queries */

    #bio,
    #portfolio,
    #skills,
    #contact,
    footer {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    #bio p,
    .first-project,
    .grid,
    form {
        border: 10px solid lightblue;
        border-radius: 60px;
    }
    
    /* Home media queries */
    
    .img-container {
        border: 10px solid #007fff
    }
    
    .img-container img {
        width: 250px;
    }
    
    .presentation {
        padding: 40px;
    }
    
    .presentation h2 {
        font-size: 45px;
    }
    
    .presentation h3 {
        font-size: 25px;
    }
    
    /* Section Heading media queries */
    
    #bio h2,
    #portfolio h2,
    #skills h2,
    #contact h2 {
        font-size: 40px;
        padding: 10px;
    }
    
    .presentation h2 img,
    #bio h2 img,
    #portfolio h2 img,
    #skills h2 img,
    #contact h2 img {
        width: 80px;
        height: 80px;
        padding: 15px;
    }
    
    /* Bio media queries */
    
    #bio p {
        font-size: 20px;
        padding: 30px;
    
        max-width: 550px;
    }
    
    /* Portfolio media queries */
    
    .first-project {
        width: 420px;
        height: 470px;
    }
    
    .first-project img {
        width: 350px;
        height: auto;

        border: 6px solid #007fff;
        border-radius: 25px;
    }

    .first-project button {
        width: 170px;
        height: 50px;

        font-size: 16px;

        margin-top: 25px;
    }
    
    /* Skills media queries */
    
    .grid {
        grid-auto-rows: 125px;
        gap: 25px;
    }

    .box1, 
    .box2,
    .box3,
    .box4,
    .box5,
    .box6 {
        margin: 15px;
    }
    
    .box1 img,
    .box2 img, 
    .box3 img,
    .box4 img,
    .box5 img,
    .box6 img {
    
        padding: 15px;
        width: 125px;
    }
    
    .grid h3 {
        font-size: 25px;
        padding: 20px;
    }
    
    /* Contact media queries */
    
    form {
        padding: 20px;
    }
    
    textarea {
        width: 400px;
    }
    
    input[type="text"],
    input[type="email"] {
        width: 400px;
        height: 50px;
    }
    
    textarea,
    input[type="text"],
    input[type="email"] {
        font-size: 23px;
    
        padding: 20px;
        margin: 5px;
    }
    
    form button {
        width: 150px;
        height: 50px;

        margin-top: 10px;
    
        font-size: 18px;
    }
    
    input[type="text"],
    input[type="email"],
    form button {
        border-radius: 50px;
        border: 3px solid lightblue;
    }
    
    textarea {
        border-radius: 35px;
        border: 3px solid lightblue;
    }
    
    /* Footer media queries */
    
    footer img {
        margin: 8px;
        width: 70px;
        height: auto;
    }
    
    footer .logo {
        width: 53px;
    }
    
}

/* Header Media Query 769px -> 1200px */

@media screen and (min-width: 769px) {
    .header {
        border-bottom: 4px solid #007fff;
    }

    .header .logo {
        padding: 15px 0px 5px 15px;
    }

    .header .logo img {
        width: 170px;
        height: auto;
    }

    .header li {
        float: left;
    }

    .header li a {
        font-size: 16px;
        padding: 10px 15px 10px 15px;
        margin-top: 15px;
        margin-right: 5px;
    }

    .header ul a:hover {
        border-radius: 50px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: 0;
    } 

    .header .menu-icon {
        display: none;
    }

    #home {
        padding-top: 130px;
    }
}

/* Header Media Query 1201+px */

@media screen and (min-width: 1201px) {
    .header {
        border-bottom: 4px solid #007fff;
    }

    .header .logo {
        padding: 20px 0px 10px 20px;
    }

    .header .logo img {
        width: 200px;
        height: auto;
    }

    .header li {
        float: left;
    }

    .header li a {
        font-size: 25px;
        padding: 15px 20px 15px 20px;
        margin-top: 13px;
        margin-right: 20px;
    }

    .header ul a:hover {
        border-radius: 100px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: 0;
    }

    .header .menu-icon {
        display: none;
    }

    #home {
        padding-top: 180px;
    }
}